.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    }
  
  h2 {
    text-align: center;
  }
  
  .input {
    margin-bottom: 15px;
  }
  
  .input label {
    margin-bottom: 5px;
  }

  .input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-container {
    text-align: center;
  }
  
  .submit-container button {
    padding: 10px 15px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  